
<%=javascript_include_tag "jquery" %>
<%#=javascript_include_tag "DataTable/prototype" %>
<script>jQuery.noConflict();</script>
<%=javascript_include_tag "jquery.dataTables.min" %>

<%#= stylesheet_link_tag "DataTable/demo_table_jui" %>
<%= stylesheet_link_tag "jquery.dataTables.min" %>
<%= stylesheet_link_tag "dataTables.bootstrap4.min" %>

<!--
   get 'new_clinical_service_attribute/:clinical_services_id' => 'billing#new_clinical_service_attribute'
     get 'new_clinical_service/:clinical_services_id' => 'billing#new_clinical_service'
  -->

<div class="page-head">
  <span>Available Health Insurances:</span>
  <div class='pull-lg-right'>
    <table>
      <tr>
        <td>
          <button class="btn btn-success"
                  style="float: right; marging-right: 5px;" onclick="javascript:location='/new_company'">
            <span class="glyphicon glyphicon-plus"></span> Add Insurance Co.</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<br />
<br />
<br />

<table id="search_results" class="table table-striped table-bordered table-condensed">
  <thead>
  <tr id = 'table_head'>
    <th id="th4" >Insurance</th>
    <th id="th4" >Description</th>
    <th id="th4" >Plan</th>
    <th id="th4" >&nbsp;</th>
  </tr>
  </thead>
  <tbody id='results'>
  <%(@insurances || {}).each do |name, data|%>
      <tr>
        <td><%=name%></td>
        <td><%=data[:insurance_description]%></td>
        <td>
          <ul>
            <%(data[:plans] || {}).each do |plan|%>
                <li>
                  <%=plan[:name]%>&nbsp;(<%=plan[:cover_percentage]%>%&nbsp;cover)&nbsp;
                  <a href="/edit_insurance_plan/<%=plan[:plan_id]%>" class=" edit-cover">Edit</a>
                </li>
            <%end%>
          </ul>
        </td>
        <td style="text-align: center;">
          <table style="width: 100%;">
            <tr>
              <td><a class="btn btn-warning" href="/company/<%=data[:insurance_id]%>">Edit</a></td>
              <td><a class="btn btn-primary" href="/add_insurance_plan/<%=data[:insurance_id]%>">Add plan</a></td>
            </tr>
          </table>
        </td>
      </tr>
  <%end%>
  </tbody>
</table>



<script>

  var dataTable = null;

  function dataT(){
    dataTable = jQuery('#search_results').dataTable();
  }


  dataT();

  function cancelTransaction(code) {
    bootbox.confirm("Are you sure you want to remove?", function(result) {
      if (result)
        voidPrescription(code);


    });
  }

  function deleteService(code) {
    bootbox.confirm("Are you sure you want to delete?", function(result) {
      if (result)
        document.location='/delete_clinical_service/'+code;


    });
  }


</script>

